[SddmGreeterTheme]
Name=Rose Pine
Description=Rose Pine theme based on Sugar Dark;
Author=Leon Windhorst
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/leonWindhorst/sddm-rose-pine
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Email=leon@windhorst.dev
Theme-Id=rose-pine
Theme-API=2.11
